@{
    ViewData["Title"] = "ثبت کاربر جدید";
}
@model  ViewModelLayer.Portal.Vm_PazirandeUser;

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <h1>محتوا</h1>
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">ویرایش کاربر ایرانی حقیقی</li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="mb-4 text-danger">پر کرد ن تمامی فیلد ها اجباری میباشد</h5>
                        <Form method="POST" action="/admin/home/UpdateAccount" enctype="multipart/form-data">
						    <input class="d-none" asp-for="Customer_Type" placeholder=" نوع مشتری : " value="حقیقی">
						    <input class="d-none" asp-for="Id" placeholder=" تبعه : " value="@Model.Id">
						    <input class="d-none" asp-for="Customer_National" placeholder=" تبعه : " value="ایرانی">
                            <b class="text-secondary"> اطلاعات شخص حقیقی درخواست کننده : </b>
                            <div class="form-row mt-2">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">نام</label>
                                    <input required type="text" class="form-control" value="@Model.Name_fa" asp-for="Name_fa" placeholder="نام">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">نام خانوادگی</label>
                                    <input required type="text" class="form-control" value="@Model.Family_fa" asp-for="Family_fa"
                                        placeholder="نام خانوادگی">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">نام پدر</label>
                                    <input required type="text" class="form-control" value="@Model.FatherName_fa"  asp-for="FatherName_fa"
                                        placeholder="نام پدر">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">شماره شناسنامه</label>
                                    <input required type="number" class="form-control" value="@Model.Certificate_Code"  asp-for="Certificate_Code" 
                                        placeholder="شماره شناسنامه">
                                </div>
                            </div>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">بخش عددی شناسنامه</label>
                                    <input required type="number" value="@Model.Certificate_NumSerial" class="form-control" asp-for="Certificate_NumSerial"  
                                        placeholder="بخش عددی شناسنامه">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPassword4">بحش حرفی شناسنامه</label>
                                    <input required type="text" class="form-control" value="@Model.Certificate_Letters"  asp-for="Certificate_Letters" 
                                        placeholder="بحش حرفی شناسنامه">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPassword4">سریال شناسنامه</label>
                                    <input required type="number" class="form-control" value="@Model.Certificate_Serial"  asp-for="Certificate_Serial" 
                                        placeholder="سریال شناسنامه">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">کد ملی</label>
                                    <input required type="number" class="form-control"  value="@Model.National_Code"  asp-for="National_Code" 
                                        placeholder="کد ملی">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="Education">تحصیلات</label>
                                    <select class="form-control" style="width: 100%;" required asp-for="Education"> 
                                        <option>انتخاب تحصیلات</option>
                                        <option value="زیر دیپلم">زیر دیپلم</option>
                                        <option value="دیپلم">دیپلم</option>
                                        <option value="لیسانس">لیسانس</option>
                                        <option value="فوق لیسانس">فوق لیسانس</option>
                                        <option value="دکتری">دکتری</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <label for="inputPassword4">محل تولد</label>
                                    <input required type="text" class="form-control"  value="@Model.Birth_Place"  asp-for="Birth_Place" 
                                        placeholder="محل تولد">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPassword4">تاریخ تولد</label>
                                    <input required type="text" class="form-control" value="@Model.BirthDay" asp-for="birthday" 
                                        placeholder="تاریخ تولد (1378/10/01)">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="Gender">جنسیت</label>
                                    <select  asp-for="Gender" class="form-control"  style="width: 100%;" required>
                                        <option>انتخاب جنسیت</option>
                                        <option value="مرد">مرد</option>
                                        <option value="  زن">زن</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="inputPassword4">کد تلفن ثابت</label>
                                    <input required type="number" class="form-control" value="@Model.Phone_Code"  asp-for="Phone_Code" 
                                        placeholder="کد تلفن ثابت">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPassword4">شماره تلفن ثابت</label>
                                    <input required type="number" class="form-control" value="@Model.Phone"   asp-for="Phone" 
                                        placeholder="شماره تلفن ثابت">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPassword4">شماره همراه</label>
                                    <input required type="number" class="form-control" value="@Model.Mobile" asp-for="Mobile" 
                                        placeholder="شماره همراه">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPassword4">ایمیل</label>
                                    <input required type="email" class="form-control" value="@Model.Email" asp-for="Email" 
                                        placeholder="ایمیل">
                                </div>
                            </div>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">استان</label>
                                    <input type="text" asp-for="State" style="display: none;">
                                    <select id="ostan" class="form-control" style="width: 100%;"
                                         onchange="Func1(this.value)" required>
                                        <option value="">انتخاب استان</option>
                                        <option
                                            value="آذرشهر ,اسکو ,اهر ,بستان‌آباد ,بناب ,تبریز ,جلفا ,چاراویماق ,سراب ,شبستر ,عجب‌شیر ,کلیبر ,مراغه ,مرند ,ملکان ,میانه ,ورزقان ,هریس ,هشترود">
                                            آذربایجان شرقی</option>
                                        <option
                                            value="  ارومیه ,اشنویه ,بوکان ,پیرانشهر ,تکاب ,چالدران ,خوی ,سردشت ,سلماس ,شاهین‌دژ ,ماکو ,مهاباد ,میاندوآب ,نقده,شوط,چایپاره,پلدشت">
                                            آذربایجان غربی</option>
                                        <option
                                            value="	کرج ,فردیس ,کمال‌شهر ,	نظرآباد ,محمدشهر, 	ماهدشت ,مشکین‌دشت ,	هشتگرد ,	چهارباغ , 	شهر جدید هشتگرد,اشتهارد ,	گرمدره ,گلسار ,	کوهسار ,	تنکمان ,	طالقان ,	آسارا,">
                                            البرز</option>
                                        <option
                                            value="  اردبیل ,بیله‌سوار ,پارس‌آباد ,خلخال ,کوثر ,گِرمی ,مِشگین‌شهر ,نَمین ,نیر">
                                            اردبیل</option>
                                        <option
                                            value="  آران و بیدگل ,اردستان ,اصفهان ,برخوار و میمه ,تیران و کرون ,چادگان ,خمینی‌شهر ,خوانسار ,سمیرم ,شهرضا ,سمیرم سفلی ,فریدن ,فریدون‌شهر ,فلاورجان ,کاشان ,گلپایگان ,لنجان ,مبارکه ,نائین ,نجف‌آباد ,نطنز">
                                            اصفهان</option>
                                        <option
                                            value="  آبدانان ,ایلام ,ایوان ,دره‌شهر ,دهلران ,شیروان و چرداول ,مهران">
                                            ایلام</option>
                                        <option value="  بوشهر ,تنگستان ,جم ,دشتستان ,دشتی,دیر ,دیلم ,کنگان ,گناوه">
                                            بوشهر</option>
                                        <option
                                            value="  اسلام شهر ,پاکدشت ,تهران ,دماوند ,رباط‌کریم ,ری ,ساوجبلاغ ,شمیرانات ,شهریار ,فیروزکوه ,کرج ,نظرآباد ,ورامین">
                                            تهران</option>
                                        <option value="  ردل ,بروجن ,شهرکرد ,فارسان ,کوهرنگ ,لردگان">چهارمحال و بختیاری
                                        </option>
                                        <option value="  یرجند ,درمیان ,سرایان ,سربیشه ,فردوس ,قائنات,نهبندان">خراسان
                                            جنوبی</option>
                                        <option
                                            value="  ردسکن ,تایباد ,تربت جام ,تربت حیدریه ,چناران ,خلیل‌آباد ,خواف ,درگز ,رشتخوار ,سبزوار ,سرخس ,فریمان ,قوچان ,کاشمر ,کلات ,گناباد ,مشهد ,مه ولات ,نیشابور">
                                            خراسان رضوی</option>
                                        <option value="  سفراین ,بجنورد ,جاجرم ,شیروان ,فاروج ,مانه و سملقان">خراسان
                                            شمالی</option>
                                        <option
                                            value="  آبادان ,امیدیه ,اندیمشک ,اهواز ,ایذه ,باغ‌ملک ,بندر ماهشهر ,بهبهان ,خرمشهر ,دزفول ,دشت آزادگان ,رامشیر ,رامهرمز ,شادگان ,شوش ,شوشتر ,گتوند ,کارون ,لالی ,مسجد سلیمان,هندیجان ">
                                            خوزستان</option>
                                        <option value="  بهر ,ایجرود ,خدابنده ,خرمدره ,زنجان ,طارم ,ماه‌نشان">زنجان
                                        </option>
                                        <option value="  دامغان ,سمنان ,شاهرود ,گرمسار ,مهدی‌شهر">سمنان</option>
                                        <option
                                            value="  ایرانشهر ,چابهار ,خاش ,دلگان ,زابل ,زاهدان ,زهک ,سراوان ,سرباز ,کنارک ,نیک‌شهر">
                                            سیستان و بلوچستان</option>
                                        <option
                                            value="  آباده ,ارسنجان ,استهبان ,اقلید ,بوانات ,پاسارگاد ,جهرم ,خرم‌بید ,خنج ,داراب ,زرین‌دشت ,سپیدان ,شیراز ,فراشبند ,فسا ,فیروزآباد ,قیر و کارزین ,کازرون ,لارستان ,لامِرد ,مرودشت ,ممسنی ,مهر,گراش ,نی‌ریز">
                                            فارس</option>
                                        <option value="  آبیک ,البرز ,بوئین‌زهرا ,تاکستان ,قزوین">قزوین</option>
                                        <option value="  قم">قم</option>
                                        <option
                                            value="  بانه ,بیجار ,دیواندره ,سروآباد ,سقز ,سنندج ,قروه ,کامیاران ,مریوان">
                                            کردستان</option>
                                        <option
                                            value="  بافت ,بردسیر ,بم ,جیرفت ,راور ,رفسنجان ,رودبار جنوب ,زرند ,سیرجان ,شهر بابک ,عنبرآباد ,قلعه گنج ,کرمان ,کوهبنان ,کهنوج ,منوجان">
                                            کرمان</option>
                                        <option
                                            value="  اسلام‌آباد غرب ,پاوه ,ثلاث باباجانی ,جوانرود ,دالاهو ,روانسر ,سرپل ذهاب ,سنقر ,صحنه ,قصر شیرین ,کرمانشاه ,کنگاور ,گیلان غرب ,هرسین">
                                            کرمانشاه</option>
                                        <option value="  بویراحمد ,بهمئی ,دنا ,کهگیلویه ,گچساران">کهگیلویه و بویراحمد
                                        </option>
                                        <option
                                            value="  آزادشهر ,آق‌قلا ,بندر گز ,ترکمن ,رامیان ,علی‌آباد ,کردکوی ,کلاله ,گرگان ,گنبد کاووس ,مراوه‌تپه ,مینودشت">
                                            گلستان</option>
                                        <option
                                            value="  آستارا ,آستانه اشرفیه ,اَملَش ,بندر انزلی ,رشت ,رضوانشهر ,رودبار ,رودسر ,سیاهکل ,شَفت ,صومعه‌سرا ,طوالش ,فومَن ,لاهیجان ,لنگرود ,ماسال">
                                            گیلان</option>
                                        <option
                                            value="  ازنا ,الیگودرز ,بروجرد ,پل‌دختر ,خرم‌آباد ,دورود ,دلفان ,سلسله ,کوهدشت">
                                            لرستان</option>
                                        <option
                                            value="  آمل ,بابل ,بابلسر ,بهشهر ,تنکابن ,جویبار ,چالوس ,رامسر ,ساری ,سوادکوه ,قائم‌شهر ,گلوگاه ,محمودآباد ,نکا ,نور ,نوشهر">
                                            مازندران</option>
                                        <option
                                            value="  آشتیان ,اراک ,تفرش ,خمین ,دلیجان ,زرندیه ,ساوه ,شازند ,کمیجان ,محلات">
                                            مرکزی</option>
                                        <option
                                            value="  ابوموسی ,بستک ,بندر عباس ,بندر لنگه ,جاسک ,حاجی‌آباد ,شهرستان خمیر ,رودان  ,قشم ,گاوبندی ,میناب">
                                            هرمزگان</option>
                                        <option value="  اسدآباد ,بهار ,تویسرکان ,رزن ,کبودرآهنگ ,ملایر ,نهاوند ,همدان">
                                            همدان</option>
                                        <option
                                            value="  ابرکوه ,اردکان ,بافق ,تفت ,خاتم ,صدوق ,طبس ,مهریز ,مِیبُد ,یزد">یزد
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label >شهرستان</label>
                                    @* <input type="text" asp-for="City" style="display: none;"> *@
                                    <select asp-for="City" class="form-control" style="width: 100%;" ></select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">کد پستی</label>
                                    <input required type="number" value="@Model.Post" class="form-control" asp-for="Post" 
                                        placeholder="کد پستی">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputAddress">آدرس</label>
                                    <input type="text" class="form-control" value="@Model.Address" asp-for="Address" placeholder="آدرس">
                                </div>
                            </div>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">نام لاتین</label>
                                    <input required type="text" class="form-control" value="@Model.Name_en" asp-for="Name_en" placeholder="نام">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">نام خانوادگی لاتین</label>
                                    <input required type="text" class="form-control" value="@Model.Family_en"  asp-for="Family_en"
                                        placeholder="نام خانوادگی">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">نام پدر لاتین</label>
                                    <input required type="text" class="form-control" value="@Model.FatherName_en" asp-for="FatherName_en" 
                                        placeholder="نام پدر">
                                </div>
                            </div>
                            <a href="/Account/NewAccount" class="btn btn-success  mt-3 " style="width: min-content;">
				                بازگشت
			                </a>
                            <button type="submit" class="btn btn-primary  mt-3">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script> 
 function Func1(Shahrestanha) {
//////ostan
        var vSkill = document.getElementById('ostan');
        var vSkillText = vSkill.options[vSkill.selectedIndex].innerHTML;
        document.getElementById('State').value=vSkillText;
//////////
       var _Shahrestan = document.getElementById("City");
       _Shahrestan.options.length = 0;
       if(Shahrestanha != "") {
          var arr = Shahrestanha.split(",");
          for(i = 0; i < arr.length; i++) {
              if(arr[i] != "") {
                 _Shahrestan.options[_Shahrestan.options.length]=new Option(arr[i],arr[i]);
              }
          }
       }
   }
</script>
<!-- Custom JS Script -->
<script type="text/javascript">
    $(window).load(function() {
        // Animate loader off screen
        $(".loader").fadeOut("slow");;
    });
</script>



