@{
    ViewData["Title"] = "ثبت کاربر جدید";
}
@model  ViewModelLayer.Portal.Vm_User;

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">ویرایش نمایندگی  </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-body">
                         @if (ViewBag.Msg!=  null)
                               {
                      <div class="alert alert-dark rounded mb-0" role="alert">
                              
                                   @ViewBag.Msg
                              
                        </div> }
                        @if (ViewBag.msg == null)
                        {
                        <Form method="POST" action="/admin/home/EditUsers" enctype="multipart/form-data">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">نام</label>
                                    <input required type="text" class="form-control" asp-for="Name" placeholder="@Model.Name">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">نام خانوادگی</label>
                                    <input required type="text" class="form-control" asp-for="Family"
                                        placeholder="@Model.Family">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">کد ملی</label>
                                    <input required type="text" class="form-control"  asp-for="NationalCode"
                                        placeholder="@Model.NationalCode">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">شماه تماس </label>
                                    <input required type="text" class="form-control"  asp-for="Phone" 
                                        placeholder="@Model.Phone">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">کد نمایندگی</label>
                                    <input required type="text" class="form-control" asp-for="Code" placeholder="@Model.Code">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">نام کاربری</label>
                                    <input required type="text" class="form-control" asp-for="UserName"
                                        placeholder="@Model.UserName">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">پسورد</label>
                                    <input required type="text" class="form-control"  asp-for="Password"
                                        placeholder="@Model.Password">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">نقش</label>
                                    <input required type="text" class="form-control d-none" value="نمایندگی"  asp-for="Role" >
                                    <input required type="text" class="form-control d-none" value="@Model.Id"  asp-for="Id">
                                    <input required type="text" class="form-control" value="نمایندگی" disabled >
                                </div>
                            </div>
                            <a href="/Admin/home/Index" class="btn btn-success  mt-3 " style="width: min-content;">
				                بازگشت
			                </a>
                            <button type="submit" class="btn btn-primary  mt-3">ثبت</button>
                        </form>
                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>






